// color pallete used for the website colors

$card-bg: hsl(0, 0%, 100%); // white
$body-bg: hsl(212, 45%, 89%); // light gray
$card-text: hsl(220, 15%, 55%); // grayish blue
$card-outline: hsl(218, 44%, 22%); // dark blue

/// colors map, gathering all the colors to be used by the webpage
/// @access private
/// @type map
/// @prop {String} key - Color's name
/// @prop {Number} value - color value in HSL mapped to the key
$colors: (
  "card-bg": $card-bg,
  "card-text": $card-text,
  "body-bg": $body-bg,
  "card-outline": $card-outline,
);

/// Get a color HSL, value from color name
/// @access public
/// @param {String} $color - Color's name
/// @return {String | Number}
/// @require $colors
@function color($color) {
  @if map-has-key($map: $colors, $key: $color) {
    @return map-get($map: $colors, $key: $color);
  } @else {
    @error "Invalid color value passed to function, valid values are 'card-bg', 'card-text', 'main-bg', 'dark-blue";
  }
}
