// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.img {
  width: 100%;
}

.container {
  width: 80%;
  margin-inline: auto;
}